// Start of Header
.header {
  &_hero {
    position: relative;
    height: 100%;
  }

  &_overlay {
    background: $primary-color !important;
    background-color: $primary-color !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    z-index: 1;
  }

  &_image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  &_logo {
    margin-top: 2rem;
    color: $text-light;
    font-weight: 700;
    line-height: 1;
    font-size: 4rem;
    position: relative;
    z-index: 10;
  }

  .next-line {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: $text-light;
    font-weight: 400;
    line-height: 1;
    position: relative;
    z-index: 10;
  }

  &_title {
    color: $text-light;
    font-size: 3rem;
    hyphens: none;
    line-height: 1;
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: 700;
    margin: 0 auto;
    position: relative;
    z-index: 10;
  }

  &_link {
    color: $text-light;
    border: 2px solid $text-light !important;
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 2.5rem;
    position: relative;
    z-index: 10;

    &:hover {
      color: $text-light;
      cursor: pointer;
    }
  }
}
// End of Header

// Start of Section A
.section-a {
  background: $secondary-color !important;
  background-color: $secondary-color !important;

  .heading {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;

    &_title {
      color: $text-light !important;
      font-size: 1.5rem;
      font-weight: 900;
      letter-spacing: 1px;
      text-transform: uppercase;

      @media only screen and (max-width: #{$global-breakpoint}) {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        font-size: 1.25rem;
        letter-spacing: 0;
      }
    }
  }

  .left-column {
    background: $primary-color !important;
    background-color: $primary-color !important;
    width: 50% !important;
    min-height: 0 !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;

    @media only screen and (max-width: #{$global-breakpoint}) {
      width: 100% !important;

      th {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
      }
    }

    .card {
      &_title {
        color: $text-light;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
        padding-bottom: 1rem !important;
      }

      &_description {
        color: $text-light;
        font-size: 0.75rem;
        hyphens: none;

        &--second {
          margin-bottom: 2rem !important;
        }
      }

      &_list {
        color: $text-light;
        font-size: 0.75rem;
        padding-left: 1.25rem;
      }

      &_list-item {
        line-height: 1.75;
      }

      &_button {
        color: $text-light;
        display: inline-block;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 700;
        border: 1px solid $text-light;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
      }
    }
  }

  .right-column {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 50% !important;
    position: relative;
    min-height: 0 !important;

    @media only screen and (max-width: #{$global-breakpoint}) {
      width: 100% !important;
    }

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;

      @media only screen and (max-width: #{$global-breakpoint}) {
        position: static;
        width: 100%;
        height: 360px;
      }
    }
  }
}
// End of Section A

// Start of Section B
.section-b {
  background: $secondary-color !important;
  background-color: $secondary-color !important;

  .heading {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;

    &_title {
      color: $text-light !important;
      font-size: 1.5rem;
      font-weight: 900;
      letter-spacing: 1px;
      text-transform: uppercase;

      @media only screen and (max-width: #{$global-breakpoint}) {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        font-size: 1.25rem;
        letter-spacing: 0;
      }
    }
  }

  .left-column,
  .right-column--alt {
    background: $text-light !important;
    background-color: $text-light !important;
    width: 50% !important;
    min-height: 0 !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;

    @media only screen and (max-width: #{$global-breakpoint}) {
      width: 100% !important;

      th {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
      }
    }

    .card {
      &_title {
        color: $text-dark;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
        padding-bottom: 1rem !important;
      }

      &_description {
        color: $text-dark;
        font-size: 0.75rem;
        hyphens: none;

        &--second {
          margin-top: 1rem !important;
        }
      }

      &_list {
        color: $text-dark;
        font-size: 0.75rem;
        padding-left: 1.25rem;
      }

      &_list-item {
        line-height: 1.75;
      }

      &_button {
        color: $text-light;
        display: inline-block;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 700;
        border: 1px solid $primary-color;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        background: $primary-color !important;
        background-color: $primary-color !important;
      }
    }
  }

  .right-column,
  .left-column--alt {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 50% !important;
    position: relative;
    min-height: 0 !important;

    @media only screen and (max-width: #{$global-breakpoint}) {
      width: 100% !important;
    }

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;

      @media only screen and (max-width: #{$global-breakpoint}) {
        position: static;
        width: 100%;
        height: 360px;
      }
    }
  }
}
// End of Section B

// Start of Footer
.footer {
  @media only screen and (max-width: #{$global-breakpoint}) {
    width: 100% !important;

    th {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
  }

  &_logo {
    background: $secondary-color;
    padding-left: 3rem !important;
    vertical-align: middle !important;
    padding-top: 1rem !important;
    padding-bottom: 3rem !important;

    @media only screen and (max-width: #{$global-breakpoint}) {
      width: 100% !important;
      padding-bottom: 1.5rem !important;
    }
  }

  &_title {
    color: $text-light;
    font-size: 2.5rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;

    @media only screen and (max-width: #{$global-breakpoint}) {
      text-align: center;
    }
  }

  .next-line {
    font-size: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: $text-light;
    font-weight: 400;
    line-height: 1;

    @media only screen and (max-width: #{$global-breakpoint}) {
      text-align: center !important;
      display: block;
    }
  }

  &_social {
    background: $primary-color;
    padding-right: 3rem !important;
    vertical-align: middle !important;
    padding-top: 1rem !important;
    padding-bottom: 3rem !important;

    @media only screen and (max-width: #{$global-breakpoint}) {
      width: 100% !important;
      padding-bottom: 1.5rem !important;
    }
  }

  &_links {
    @media only screen and (max-width: #{$global-breakpoint}) {
      text-align: center !important;
      display: block;
    }

    a {
      background: $text-light;
      background-color: $text-light;
      display: inline-block;
      border: 3px solid $text-light;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      color: $primary-color;
      font-size: 1.25rem;
      text-align: center;
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }

    i {
      line-height: 1.75rem;
    }
  }
}
// End of Footer
