<!-- Start of Footer Section -->
<container class="footer">
  <row class="footer_content">
    <columns class="footer_logo">
      <div class="footer_brand" align="left">
        <h4 class="footer_title">SEI</h4>
        <span class="next-line">Residences</span>
      </div>
    </columns>
    <columns class="footer_social">
      <div class="footer_links" align="right">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-tumblr"></i></a>
        <a href="#"><i class="fab fa-pinterest-p"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </columns>
  </row>
</container>
<!-- End of Footer Section -->
