<!-- Start of Header Section -->
<container class="header">
  <row class="header_content">
    <columns class="header_hero text-center">
      <div class="header_overlay"></div>
      <img src="{{root}}assets/img/project_img/house_hero.jpg" alt="house_hero" class="header_image show-for-large" />
      <h1 class="header_logo text-center">SEI</h1>
      <span class="next-line text-center">Residences</span>
      <h2 class="header_title text-center">Modern Housing For Everyone</h2>
      <center>
        <a class="header_link">Subscribe Now</a>
      </center>
    </columns>
  </row>
</container>
<!-- End of Header Section -->
